<!DOCTYPE html>
<html>
  <head>
    <title>Testing</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>


    <div class="flex justify-start items-center space-x-10 px-5 bg-[#042c54] text-white block font-medium text-xl">
      <%= image_tag("wads-logo.jpg", :alt => "wads-logo", class: 'h-28 py-5') %>
      <%= link_to 'Home', public_landing_path %>
      <%= link_to 'Meet the Team', directory_path %>
      <%= link_to 'Login/Logout', new_card_path %>
    </div>
  </head>

  <body>
    <main class="container mx-auto mt-2 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
